<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/6.1.0/css/all.css}"/>
        <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/bootstrap.min.css"/>
        <link rel="stylesheet" href="css/dash.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap"/>
        <script src="https://kit.fontawesome.com/82a228b425.js" crossorigin="anonymous"></script>
        <style>
            .red{
                color: red;
            }
            .yelow{
                color:#ffcc00;
            }
        </style>
    </head>
    <body>
        <div class="d-flex">

            <div id="sidebar-container" class="bg-primary">
                <div class="logo">
                    <h4 class="text-light">WINGS</h4>
                </div>

                <div class="menu" >
                    <a th:href="@{/dash}" class="d-block text-light p-3"><i class="icon ion-md-apps mr-3 ml-2 lead"></i></i>Tablero</a>
                    <a th:href="@{/cli}" class="d-block text-light p-3"><i class="icon ion-md-person mr-3 ml-2 lead"></i>Clientes</a> 
                    <a th:href="@{/pro}" class="d-block text-light p-3"><i class="icon ion-md-people mr-3 ml-2 lead"></i>Proveedores</a>
                    <a th:href="@{/produ}" class="d-block text-light p-3"><i class="icon ion-md-cart mr-3 ml-2 lead"></i></i>Productos</a>
                    <a th:href="@{/fac}" class="d-block text-light p-3"><i class="icon ion-md-folder mr-3 ml-2 lead" ></i>Facturas</a>
                </div>
            </div>  
            <div class="container">
                <h3>Lista de Clientes</h3>
                <hr>
                <button class="btn btn-primary" style="margin-bottom: 20px; " data-toggle="modal" data-target="#modalGuardar" data-whatever="@mdo">Add</button>
                <div class="row">
                    <div class="col">
                        <table class="table" id="tablita">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">CLIENTE</th>
                                    <th scope="col">DNI</th>
                                    <th scope="col">TELEFONO</th>
                                    <th scope="col" colspan="2">ACCION</th>
                                </tr>
                            </thead>
                            <tbody>                            
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Modal Guardar Post -->
            <div class="modal fade" id="modalGuardar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Nuevo Cliente</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="needs-validation" novalidate >
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Nombre:</label>
                                    <input type="text" class="form-control" id="nombre" >
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">DNI:</label>
                                    <input required class="form-control" id="dni" >
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Telefono:</label>
                                    <input  class="form-control" id="telefono">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="guardar">Registrar Cliente</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Modificar Post -->
        <div class="modal fade" id="modalEditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modificar Cliente</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Nombre:</label>
                                <input type="text" class="form-control" id="editar_titulo" placeholder="Título">
                                <input type="hidden" class="form-control" id="idpost" value="0">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">DNI:</label>
                                <input  class="form-control" id="editar_descripcion">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Telefono:</label>
                                <input  class="form-control" id="editar_telefono">
                            </div>
                           
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="modificar">Modificar Cliente</button>
                    </div>
                </div>
            </div>


        </div>


        <script src="js/jquery-3.6.0.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>
        <script th:src="@{/js/script.js}"></script>
    </body>
</html>
